<div class="row">
  <div class="medium-10 medium-centered columns top-desc">
    <h3>Welcome to Find Your Fit!</h3>
    This website is designed to determine the it of brands and products - you'll never need to worry about an online order running too large or too small again!
    <%= link_to 'Check out the products', products_path %>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li>
        <div class="thumb">
          <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
          <div class="text">Categories</div>
        </div>
      </li>

      <li>
        <div class="thumb">
          <img src="https://i.s-jcrew.com/is/image/jcrew/94058_KE3981_m?$pdp_fs418$">
          <div class="text">Brands</div>
        </div>
      </li>

      <li>
        <div class="thumb">
          <img src="https://i.s-jcrew.com/is/image/jcrew/93810_WU3294_m?$pdp_fs418$">
          <div class="text">All Products</div>
        </div>
      </li>

      <li>
        <div class="thumb">
          <img src="https://i.s-jcrew.com/is/image/jcrew/60763_WW8415_m?$pdp_fs418$">
          <div class="text">Latest Review</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<%= link_to 'Admins', users_path %>
