<div class="row">
  <div class="medium-10 medium-centered columns top-desc">
    <h4>What's the DiF?</h4>
    Small, medium, large? Rate how well a products size fits you!
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li>
        <div class="thumb">
          <%= link_to categories_path do %>
            <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
            <div class="text">Categories</div>
          <% end %>
        </div>
      </li>

      <li>
        <div class="thumb">
          <%= link_to brands_path do %>
            <img src="https://i.s-jcrew.com/is/image/jcrew/94058_KE3981_m?$pdp_fs418$">
            <div class="text">Brands</div>
          <% end %>
        </div>
      </li>

      <li>
        <div class="thumb">
          <%= link_to products_path do %>
            <img src="https://i.s-jcrew.com/is/image/jcrew/93810_WU3294_m?$pdp_fs418$">
            <div class="text">All Products</div>
          <% end %>
        </div>
      </li>

      <li>
        <div class="thumb">
          <%= link_to product_path(Review.last.product) do %>
            <img src="https://i.s-jcrew.com/is/image/jcrew/60763_WW8415_m?$pdp_fs418$">
            <div class="text">Latest Review</div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
