<div class="row">
  <div class="small-12 columns">
  helloasdflajsdfkalsbdfjahsdf

  asdfjkhasdjkfakjhsdf


  asdfjkhasdfjk
  </div>
</div>

<div class="row">
  <div class="small-6 centered columns">
    <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
  </div>
  <div class="small-6 centered columns">
    <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
  </div>
</div>

<div class="row">
  <div class="small-6 centered columns">
    <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
  </div>
  <div class="small-6 centered columns">
    <img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$">
  </div>
</div>
