
  <div class="row">
    <div class="medium-10 medium-centered columns top-desc">
      <h3>Welcome to Find Your Fit!</h3>
      This website is designed to determine the it of brands and products - you'll never need to worry about an online order running too large or too small again!
    </div>
  </div>


<div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li><div id="box">
        <div id="overlay">

        </div>
        </div>
      </li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
    </ul>
  </div>
</div>
