
  <div class="row">
    <div class="medium-12 medium-centered columns top-desc">
      helloasdflajsdfkalsbdfjahsdf
      asdfjkhasdjkfakjhsdf
      asdfjkhasdfjk
    </div>
  </div>


<div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
      <li><img src="https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$"></li>
    </ul>
  </div>
</div>
