/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 img {
    padding: 0px;
 }

 .top-desc {
   border: 2px solid #666;
   padding: 10px;
   margin: 10px;
   background-color: #ccc;
   text-align: center;
 }

.inline-list {
  display: table;
  margin: 2 auto;

}


body    {  background:#e7e7e7;}


#box    {
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:0px solid #fff;
          border-right:0px solid #fff;
          margin:0 auto 0 auto;
          background:url(https://i.s-jcrew.com/is/image/jcrew/16252_BL8797_m?$pdp_fs418$);
  background-size:cover;
border-radius:5px;
overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding: 200px;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;
               text: "Hello"}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}
